<or>
  <hostname op="=" value="rt-qe-01.lab.eng.brq2.redhat.com"/>
  <hostname op="=" value="rt-qe-02.lab.eng.brq2.redhat.com"/>
  <hostname op="=" value="rt-qe-06.lab.eng.rdu2.redhat.com"/>
  <hostname op="=" value="rt-qe-07.lab.eng.rdu2.redhat.com"/>
  <hostname op="=" value="rt-qe-09.rhts.eng.pek2.redhat.com"/>
  <hostname op="=" value="rt-qe-10.rhts.eng.pek2.redhat.com"/>
  <hostname op="=" value="rt-qe-11.lab.eng.rdu2.dc.redhat.com"/>
  <hostname op="=" value="rt-qe-12.lab.eng.rdu2.dc.redhat.com"/>
</or>
