
{% if ARCH != "ppc64" %}
<and>
  {% if (ARCH != "s390x") %}
    <cpu_count op="&gt;" value="2"/>
    <key_value key="DISKSPACE" op="&gt;=" value="50000"/>
  {% endif %}
    <hypervisor op="=" value=""/>
</and>
{% endif %}
