{% if VARIABLES.kdump_server and (TREE.startswith("rhel") or TREE.startswith("c9s") or TREE.startswith("c10s")) %}
  <task name="/kernel/kdump/setup-nfsdump" role="STANDALONE">
    <fetch url="{{ VARIABLES.suites_zip_url }}#kdump-cki/setup-nfsdump"/>
    <params>
      <param name="NFSSERVER" value="{{ VARIABLES.kdump_server }}"/>
      <param name="VMCOREPATH" value="/var/www/html/vmcore"/>
      <param name="WEBSERVERBASEURL" value="http://{{ VARIABLES.kdump_server }}/vmcore"/>
      <param name="CKI_ID" value="{{ tests_ns.id }}"/>
      <param name="CKI_IS_TEST" value="True"/>
      <param name="CKI_NAME" value="setup-nfsdump"/>
      <param name="CKI_UNIVERSAL_ID" value="setup-nfsdump"/>
      {# Failures in this task should never block pipelines #}
      <param name="CKI_WAIVED" value="True"/>
    </params>
  </task>
  {% set tests_ns.id = tests_ns.id + 1 %}
{% endif %}
